{% extends "base_template.html" %}

{% block pagetitle %}{{global.blogtitle}} - {{collection_title}}{% endblock %}

{% block content %}
    <h1>{{collection_title}}</h1>
    {% for a in articles: %} 
        <h1>{{ a.title }}</h1>
        <p>Posted on {{a.ctime_tm|dateformat('%Y/%m/%d %H:%M')}} at {{a.fullname}}</p>
        <p>Last modified on {{a.mtime_tm|dateformat('%Y/%m/%d %H:%M')}}</p>
        {% set taglist = a|tags %}
        {% if taglist %} 
            <p>Tags: {{taglist}}</p>
        {% endif %}
        <p>{{ a|markdown_content }}</p>
    {% endfor %}
{% endblock %}
