<html>
    <head>
        <title>{{ article.title }}</title>
    </head>
    <body>

    <form action="/search/" method="GET">
      <input type="text" name="searchtext">
      <input type="submit" value="Send">
    </form>

    {% if archiving.archives %}
    <p>Archives:</p>
    <ul>
      {% for item in archiving.archives: %}
          <li><a href="/{{item[0]}}/{{item[1]}}">{{item[0]}}/{{item[1]}} ({{item[2]}})</a></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if tagging.tags %}
    <p>Tags:</p>
    <ul>
        {% for tag, count in tagging.tags.items(): %}
            <li><a href="/tags/{{tag}}">{{tag}}({{count}})</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>{{ article.title }}</h1>
    <p>Posted on {{article.ctime_tm|dateformat('%Y/%m/%d %H:%M')}} at {{article.fullname}}</p>
    <p>Last modified on {{article.mtime_tm|dateformat('%Y/%m/%d %H:%M')}}</p>
    {% set taglist = article|tags %}
    {% if taglist  %} 
        <p>Tags: {{taglist}}</p>
    {% endif %}
    <p>{{ article.content }}</p>
    </body>
</html>
