<html>
    <head>
        <title>{% block pagetitle %}{% endblock %}</title>
    </head>
    <body>
    <h1>{{global.blogtitle}}</h1>
    <h2>{{global.blogdescription}}</h2>
    <form action="/search/" method="GET">
      <input type="text" name="searchtext">
      <input type="submit" value="Send">
    </form>

    {% if archiving.archives %}
    <p>Archives:</p>
    <ul>
        {% for item in archiving.archives: %}
            <li><a href="{{item.url}}">{{item.year}}/{{item.month}} ({{item.count}})</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if tagging.tags %}
    <p>Tags:</p>
    <ul>
        {% for tag, info in tagging.tags.items(): %}
            <li><a href="{{info.url}}">{{tag}} ({{info.count}})</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
    </body>
</html>
